<doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<title>Ninja Gold!</title>
			 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">  
			
		</head>

		<body>
			
			<h1>Your Gold: {{session['count']}}</h1>
			


			

			<div class="routes_gold">
				<h1> Farm </h1>
				<h3> (earns 10-20 golds) </h3>
				<form method='post' action='/process_money'>
					<input type='submit' value='Find Gold!' name='gold_method'>
					<input type='hidden' name='farm' value='gold_farming'>
				</form>
			</div>

			<div class="routes_gold">
				<h1> Cave </h1>
				<h3> (earns 5-10 golds) </h3>
				<form method='post' action='/process_money'>
					<input type='submit' value='Find Gold!' name='gold_method'>
					<input type='hidden' name='cave' value='gold_caving'>
				</form>
			</div>

			<div class="routes_gold">
				<h1> House </h1>
				<h3> (earns 2-5 golds) </h3>
				<form method='post' action='/process_money'>
					<input type='submit' value='Find Gold!' name='gold_method'>
					<input type='hidden' name='house' value='gold_housing'>
				</form>
			</div>

			<div class="routes_gold">
				<h1> Casino </h1>
				<h3> (earns/takes 0-50 golds) </h3>
				<form method='post' action='/process_money'>
					<input type='submit' value='Find Gold!'>
					<input type='hidden' name='gold_method' value='gold_casinoing'>
				</form>
			

			</div>

	


		</body>

</html>